#profileContainer {
  margin: 0;
  right: 0;
  left: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -24.5vh;
  height: 73vh;
  width: 18%;
  /* background-color: var(--first-colour); */
  background: linear-gradient(
    to right,
    var(--first-colour),
    var(--second-colour)
  );
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.8;
  animation: appear 2s ease-out;
}

@keyframes appear {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
