#profileContainer {
  margin: 0;
  right: 0;
  left: 8.2vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -24.5vh;
  height: 73vh;
  width: 18vw;
  /* background-color: var(--first-colour); */
  background: linear-gradient(
    to right,
    var(--first-colour),
    var(--second-colour)
  );
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.8;
  animation: appear 2s ease-out;

  /* box-shadow: 15px 15px 10px; */
}

@media (max-width: 985px) {
  #profileContainer {
    left: 9.2vw;
    top: -28.5vh;
    height: 23vh;
    width: 80vw;
    overflow: hidden;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
