.SelectProContainer {
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 26vh;
  left: 45%;
}

.fade {
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 26vh;
  position: relative;
  left: 450px;
  animation: close 200ms ease-out forwards;
}

.intro,
.intro2 {
  margin-top: 13vh;
  margin-left: 31vw;
  font-size: 2rem;
  position: absolute;
  font-family: "Audiowide", cursive;
}

.intro2 {
  margin-top: 60vh;
  margin-left: 32vw;
}

.changeName {
  text-align: center;
  height: 4vh;
  width: 20vw;
  font-size: 2rem;
  margin-right: 2vw;
  font-family: "Audiowide", cursive;
  color: var(--first-colour);
  border-radius: 5px;
}

@media (max-width: 985px) {
  .changeName {
    font-size: 1.5rem;
  }

  .intro,
  .intro2 {
    font-size: 1.5rem;
  }

  .intro {
    margin-left: 9vw;
  }

  .intro2 {
    margin-left: 26vw;
    margin-top: 53vh;
  }
}
@keyframes close {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-125);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(-350%);
    transform: translateX(-350%);
  }
}
