.SelectProContainer {
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 26vh;
  left: 730px;
}

.fade {
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 26vh;
  position: relative;
  left: 450px;
  animation: close 200ms ease-out forwards;
}

.intro,
.intro2 {
  margin-top: 55px;
  margin-left: 520px;
  font-size: 18px;
  position: absolute;
  font-family: "Audiowide", cursive;
}

.intro2 {
  margin-top: 390px;
  margin-left: 660px;
  font-size: 22px;
}

.changeName {
  text-align: center;
  height: 140%;
  width: 30%;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Audiowide", cursive;
  color: var(--first-colour);
  border-radius: 5px;
}

@keyframes close {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-125);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(-350%);
    transform: translateX(-350%);
  }
}
