.profileContainer {
  margin: 0;
  width: 10%;
  height: 120%;
  align-items: center;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Audiowide", cursive;
}
.name {
  font-size: 13px;
}

.profile {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  font-size: 30px;
}

.message {
  margin: 18px;
  height: 100%;
  width: 100%;
  font-family: "Audiowide", cursive;
  font-size: 90%;
  resize: vertical;
  color: black;
  word-wrap: break-word;
}
