.publicChat {
  background: linear-gradient(
    to left,
    var(--first-colour),
    var(--second-colour)
  );
  /* background-color: var(--first-colour); */

  height: 73vh;
  width: 60%;

  position: relative;
  left: 58.5vh;
  top: -97.5vh;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.8;

  z-index: 99;
  animation: open 2s ease-out;
}

.messageContainerRecieved {
  margin: 0;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-top: 3px;
  display: flex;
  width: 80%;
  height: 14%;
  position: relative;

  /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */
  /* box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */

  text-align: left;
  left: 5%;
  flex-direction: row-reverse;
  font-size: 20px;
}

.messageContainerSent {
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-top: 3px;
  display: flex;
  width: 80%;
  height: 14%;
  position: relative;

  /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */
  /* box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15); */

  text-align: right;
  left: 16%;
}

.publicChat p {
  font-size: 2rem;
  margin: 0;
  height: 2%;
  margin-left: 10px;
  font-family: "Audiowide", cursive;
  color: var(--fourth-colour);
}
.publicChat2 p {
  font-size: 2rem;
  margin: 0;
  height: 2%;
  margin-left: 10px;
  font-family: "Audiowide", cursive;
  color: var(--fourth-colour);
}

.publicChat2 {
  background: linear-gradient(
    to left,
    var(--first-colour),
    var(--second-colour)
  );
  height: 73vh;
  width: 40%;

  position: relative;
  left: 58.5vh;
  top: -97.5vh;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  opacity: 0.8;

  z-index: 99;
  /* animation: shrink 0.4s ease-out; */

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.screen {
  position: relative;
  width: 95%;
  height: 66%;
  background-color: var(--second-colour);
  margin: auto;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.screen::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  border-radius: 29px;
  height: 30%;
  position: relative;
  width: 14%;
  top: -7vh;
  left: 4%;
  background-color: var(--third-colour);
}
.form {
  margin: 0;
  padding: 0;
  /* position: relative; */
}
.textArea {
  font-size: 1rem;
  font-family: "Audiowide", cursive;
  color: var(--first-colour);
  margin-left: 3%;
  width: 56vw;
  height: 72%;
  position: relative;
  top: 2vh;
  text-align: right;
  background-color: var(--second-colour);
}

@media (max-width: 985px) {
  .publicChat {
    width: 80%;
    left: 9.5vw;
    top: -27.5vh;
  }
  .publicChat2 {
    width: 80%;
    left: 10.5vw;
    top: -27.5vh;
    height: 40vh;
  }

  .messageContainerRecieved {
    font-size: 1.4rem;
  }
  .messageContainerSent {
    font-size: 1.4rem;
  }
  .screen {
    width: 80vw;
  }
  .messageContainerRecieved {
    height: 5vh;
  }
  .textArea {
    height: 8vh;
    font-size: 1.2rem;

    width: 70vw;
  }
  .buttonContainer {
    top: -5.2vh;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: scale(0.01, 1);
  }
  50% {
    opacity: 1;
    transform: scale(0.01, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
