#WelcomeContainer {
  animation: open 1200ms ease-out forwards;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

#WelcomeContainer2 {
  height: 100%;
  width: 100%;
  animation: close 1500ms ease-out forwards;
  margin-top: 0;
}

.welcome {
  font-family: "Audiowide", cursive;
  width: 100%;
  height: 20vh;
  color: var(--second-colour);
  padding: 0%;
  position: relative;
  text-align: center;
  top: 35vh;
  font-size: 5rem;
  background-color: var(--first-colour);
  background: linear-gradient(
    to left,
    var(--first-colour),
    var(--second-colour)
  );
  margin-bottom: 0;
  font-weight: bold;
}
p {
  margin-top: 0;
}

.p2 {
  display: none;
  text-align: right;
}

.welcomeButton {
  background: linear-gradient(
    to left,
    var(--third-colour),
    var(--second-colour)
  );
  position: relative;
  width: 30vw;
  height: 7vh;
  top: 38vh;
  text-align: right;
  left: 70.7%;
}

.welcomeButton2 {
  background: linear-gradient(
    to left,
    var(--third-colour),
    var(--second-colour)
  );
  position: relative;
  width: 30vw;
  height: 7vh;
  top: 38vh;
  text-align: right;
  left: 70.7%;
}
.welcomeButton2::before {
  content: "<-- BACK";
  text-align: right;
  font-size: 1.5rem;
  font-family: "Audiowide", cursive;
}

.welcome::before {
  height: 8vh;
  color: var(--third-colour);
  content: "   ....Welcome to";
  font-size: 3rem;
  text-align: left;
  background-color: var(--second-colour);
  display: block;
  border-style: solid;
  background: linear-gradient(
    to left,
    var(--third-colour),
    var(--second-colour)
  );
}
@media (max-width: 985px) {
  .welcomeButton {
    width: 18vw;
    left: 83.7%;
    height: 5rem;
  }

  .welcome {
    font-size: 3rem;
    height: 15vh;
  }

  .welcome::before {
    font-size: 2.5rem;
    height: 6vh;
  }

  .p2 {
    display: none;
  }
  .welcomeButton2::before {
    content: "<-";
    text-align: right;
    font-family: "Audiowide", cursive;
  }
}
@keyframes open {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-94%);
  }
}
